body {
    padding-top: 50px;
}


/* Header */
.topbar {
    background: #d10a11;
    color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
}

    .topbar.topbar-scrolled {
        -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    }

    .topbar .social-container {
        position: absolute;
        right: 30px;
        top: 9px;
    }

    .topbar .social-list {
        margin-bottom: 0;
    }

    .topbar .social-item a {
        display: inline-block;
        width: 30px;
        height: 30px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        background: rgba(255, 255, 255, 0.2);
        text-align: center;
        padding-top: 4px;
    }

        .topbar .social-item a .fa {
            color: rgba(255, 255, 255, 0.8);
        }

        .topbar .social-item a:hover {
            background: rgba(255, 255, 255, 0.2);
        }

            .topbar .social-item a:hover .fa {
                color: #fff;
            }

.branding {
    padding-top: 30px;
    padding-bottom: 30px;
}

h1.logo {
    margin: 0;
}

    h1.logo img {
        vertical-align: inherit;
    }

.header-info-list {
    margin-bottom: 0;
}

    .header-info-list .info-item {
        position: relative;
        padding-left: 42px;
        line-height: 1.2;
        margin-right: 30px;
    }

        .header-info-list .info-item:last-child {
            margin-right: 0;
        }

        .header-info-list .info-item a {
            color: #343E49;
        }

    .header-info-list .info-main {
        display: block;
        color: #343E49;
        font-weight: bold;
        font-size: 16px;
    }

        .header-info-list .info-main a {
            color: #343E49;
        }

    .header-info-list .info-sub {
        display: block;
        color: #6c8198;
        font-size: 14px;
    }

        .header-info-list .info-sub a {
            color: #6c8198;
        }

    .header-info-list .custom-icon {
        font-size: 34px;
        position: absolute;
        left: 0;
        top: 0;
        color: #d10a11;
    }
/* ====== Nav ======= */
.navbar-header {
    height: 50px;
}

.navbar-toggle {
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 15px;
    background: none;
    position: relative;
    top: 8px;
}

    .navbar-toggle:focus {
        outline: none;
    }

    .navbar-toggle .icon-bar-wrapper {
        float: left;
    }

    .navbar-toggle .icon-bar {
        background: #fff;
    }

    .navbar-toggle:hover .icon-bar {
        -webkit-opacity: 1;
        -moz-opacity: 1;
        opacity: 1;
    }

.navbar-nav {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}

.nav > li > a {
    color: #ffffff;
    color: rgba(255, 255, 255, 0.7);
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 0;
    padding-right: 0;
    margin-right: 30px;
}

    .nav > li > a:focus,
    .nav > li > a:hover {
        background: none;
        outline: none;
    }

.nav > li.active > a {
    color: #fff;
}



/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
  .topbar .social-container {
    right: inherit;
    left: 15px;
  }
  .branding {
    text-align: center;
  }
  h1.logo {
    float: none !important;
    text-align: center;
    margin-bottom: 30px;
  }
  h1.logo img {
    margin: 0 auto;
  }
  .header-info-list {
    margin: 0 auto;
    float: none !important;
    text-align: left;
    display: inline-block;
  }
  .header-info-list .custom-icon {
    font-size: 26px;
  }
  .header-info-list .info-item {
    display: block;
    margin-bottom: 15px;
    margin-right: 0;
    padding-left: 34px;
  }
  .contact-form {
    padding: 0px;
    background: none;
  }
  .footer-col {
    margin-bottom: 30px;
  }
  .footer-col:last-child {
    margin-bottom: 0;
  }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .modal-dialog {
    width: 80%;
  }
  .nav > li > a {
    margin-right: 15px;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .nav > li > a {
    margin-right: 30px;
  }
}
/* Large devices (large desktops, 1200px and up) */
/* ======= Configure Style (Remove in production) ======= */
body {
  overflow-x: hidden;
}
